In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
table = pd.read_csv('data.csv', index_col='JMÉNO')[:-1]

In [4]:
# počet unikátních jmen
for year in range(1916,2017):
    print(year, np.sum(table[str(year)].values!=0))

1916 86
1917 132
1918 141
1919 223
1920 269
1921 366
1922 435
1923 537
1924 605
1925 650
1926 730
1927 782
1928 888
1929 953
1930 1038
1931 1081
1932 1128
1933 1177
1934 1227
1935 1267
1936 1290
1937 1334
1938 1420
1939 1440
1940 1569
1941 1585
1942 1602
1943 1687
1944 1739
1945 1669
1946 1746
1947 1684
1948 1715
1949 1734
1950 1677
1951 1696
1952 1726
1953 1670
1954 1671
1955 1641
1956 1632
1957 1637
1958 1566
1959 1548
1960 1568
1961 1575
1962 1624
1963 1680
1964 1739
1965 1742
1966 1737
1967 1669
1968 1771
1969 1792
1970 1826
1971 1839
1972 1867
1973 1803
1974 1903
1975 1896
1976 1831
1977 1778
1978 1756
1979 1744
1980 1712
1981 1654
1982 1616
1983 1559
1984 1604
1985 1640
1986 1636
1987 1701
1988 1647
1989 1786
1990 1808
1991 1988
1992 2260
1993 2263
1994 2289
1995 2300
1996 2288
1997 2343
1998 2341
1999 2190
2000 2474
2001 3500
2002 3804
2003 4026
2004 4278
2005 4647
2006 5280
2007 5578
2008 6303
2009 6434
2010 6320
2011 6159
2012 6231
2013 6219
2014 6157
2015 6198
2016 5558

In [5]:
# mediánový věk pro jméno
def get_median(name):
    subtable = table.loc[name].loc["1916":"2016"]
    year = 1916
    median_list = []
    for entry in subtable:
        for i in range(int(entry)):
            median_list.append(int(year))
        year+=1

    return median_list[round(len(median_list)/4)], median_list[round(len(median_list)/2)], median_list[3*round(len(median_list)/4)]

In [6]:
namecount = 0
name_medians = {}
for name, row in table.iterrows():
    if row["3000"] >= 100:
        namecount += 1
        name_medians[name] = get_median(name)
print(namecount)

1064

In [7]:
medians_sorted = sorted(name_medians, key=lambda x: name_medians[x][1])

# nejstarší jména (podle medianu)
for name in medians_sorted[:25]:
    if name != "NEZJIŠTĚNO":
        print(name, name_medians[name][1])

KVĚTUŠKA 1934
FILOMENA 1936
JENOVEFA 1936
JIŘINKA 1936
VĚRUŠKA 1936
ALOISIE 1937
DRAHUŠKA 1937
LEOPOLDINA 1937
ELFRÍDA 1938
HANIČKA 1938
EDELTRUDA 1939
ELFRIEDA 1939
HILDEGARD 1939
HILDEGARDA 1939
ILSA 1939
ALENKA 1940
ANASTASIE 1940
ANASTAZIE 1940
ANNELIES 1940
ANTONÍNA 1940
DANUŠKA 1940
EDELTRAUD 1940
EDELTRAUDA 1940
ERNA 1940
GERTRUDA 1940

In [8]:
# nejmladší jména (podle medianu)
for name in medians_sorted[-25:]:
    if name != "NEZJIŠTĚNO":
        print(name, name_medians[name][1])

TEODORA 2012
TOBIAS 2012
TOBIÁŠ 2012
TÝNA 2012
VICTORIE 2012
VOJTA 2012
DAMIEN 2013
ELIÁŠ 2013
ELLA 2013
EMILY 2013
JANEK 2013
LILLY 2013
MATEO 2013
MIA 2013
ROZÁRIE 2013
ROZÁRKA 2013
TEA 2013
THEA 2013
ZOE 2013
ANABELA 2014
LILIEN 2014
LILY 2014
MEDA 2014
OLÍVIE 2014

In [11]:
# nejmenší a největší spread
spread = {}
for name in name_medians:
    spread[name] = int(name_medians[name][2])-int(name_medians[name][0])
spread = sorted(spread, key=lambda x: int(spread[x]))
for name in spread[-100:]:
        print(name, name_medians[name][0], name_medians[name][2], int(name_medians[name][2])-int(name_medians[name][0]))

KRISTÍNA 1962 2000 38
MOHAMED 1963 2001 38
TAMARA 1962 2000 38
VIOLETA 1975 2013 38
ZORA 1952 1990 38
ADRIENA 1959 1998 39
ANA 1964 2003 39
HUGO 1974 2013 39
SILVESTR 1950 1989 39
STEFAN 1965 2004 39
WALDEMAR 1966 2005 39
AGATA 1954 1994 40
ALEXANDR 1967 2007 40
AMALIE 1933 1973 40
ARNOLD 1944 1984 40
EGON 1948 1988 40
KONSTANTIN 1950 1990 40
KRISTINA 1955 1995 40
MATEJ 1966 2006 40
MIREK 1968 2008 40
PAULA 1956 1996 40
THEODOR 1974 2014 40
BOŘEK 1962 2003 41
CHARLOTA 1969 2010 41
JERONÝM 1971 2012 41
ALFRÉD 1948 1990 42
ANDREJ 1959 2001 42
BARNABÁŠ 1972 2014 42
FELIX 1971 2013 42
INNA 1971 2013 42
LEA 1969 2011 42
MARGARITA 1945 1987 42
CARMEN 1964 2007 43
EWA 1956 1999 43
MATYLDA 1970 2013 43
MAGDALENA 1954 1998 44
BERNARD 1948 1993 45
ČENĚK 1952 1997 45
ELENI 1961 2006 45
GEORGE 1956 2001 45
VALENTINA 1964 2009 45
GEORGIOS 1957 2003 46
LIA 1965 2011 46
LILI 1968 2014 46
MALVÍNA 1967 2013 46
SAŠA 1960 2006 46
ALEXANDER 1952 1999 47
CYRIL 1947 1994 47
JULIÁNA 1948 1995 47
PŘEMEK 1956 2003 47
HANNA 1947 1995 48
OSKAR 1963 2011 48
PAULINA 1937 1985 48
DOUBRAVKA 1959 2008 49
JULIANA 1939 1988 49
KORNELIE 1944 1993 49
TERESA 1953 2002 49
VANDA 1951 2000 49
VIKTÓRIA 1959 2009 50
ALEXEJ 1955 2006 51
ELENA 1961 2012 51
MELANIE 1961 2012 51
ADA 1958 2010 52
ANNA 1944 1996 52
VENDELÍN 1961 2013 52
VILÉM 1951 2003 52
ADELA 1943 1996 53
ANASTÁZIE 1959 2012 53
VAVŘINEC 1959 2012 53
EMÍLIE 1960 2014 54
FLORIÁN 1958 2012 54
RENÉE 1948 2002 54
HUBERT 1949 2004 55
MARIANNE 1936 1991 55
ALŽBĚTA 1950 2006 56
LEONARD 1952 2009 57
LÍDA 1954 2011 57
ANNEMARIE 1941 2000 59
JOSEFINA 1950 2009 59
QUIDO 1948 2007 59
ROSALIE 1952 2011 59
BRUNO 1952 2012 60
JULIA 1948 2009 61
LEONTINA 1949 2010 61
DOROTHEA 1946 2009 63
MÁJA 1944 2007 63
METODĚJ 1948 2011 63
AMÁLIA 1941 2005 64
EVELINA 1945 2009 64
CHARLOTTA 1948 2012 64
MARIANNA 1944 2008 64
ANEŽKA 1942 2008 66
GRETA 1942 2008 66
JUSTINA 1939 2006 67
BERTA 1937 2006 69
JOHANNA 1940 2009 69
MATILDA 1936 2006 70
ALMA 1941 2012 71
ELSA 1937 2009 72
ŽOFIE 1935 2008 73

In [10]:
for name in spread[:100]:
    if name!="NEZJIŠTĚNO":
        print(name, name_medians[name][0], name_medians[name][2], int(name_medians[name][2])-int(name_medians[name][0]))

LILIEN 2012 2015 3
LILY 2012 2015 3
OLÍVIE 2012 2015 3
EDELTRAUDA 1937 1941 4
HANNELORE 1940 1944 4
MEDA 2012 2016 4
SOFIE 2010 2014 4
THEA 2011 2015 4
YVETTA 1961 1965 4
AMÉLIE 2008 2013 5
ELIÁŠ 2010 2015 5
ELLA 2010 2015 5
EMILY 2010 2015 5
GERLINDA 1939 1944 5
GŰNTER 1939 1944 5
CHRISTA 1939 1944 5
LILLY 2010 2015 5
MADLEN 2009 2014 5
MARCUS 2009 2014 5
MATEO 2010 2015 5
MATIAS 2009 2014 5
MIA 2010 2015 5
ROSEMARIE 1940 1945 5
ROZÁRIE 2010 2015 5
SOFIE ANNA 2009 2014 5
TEA 2010 2015 5
TOBIAS 2009 2014 5
TOBIÁŠ 2009 2014 5
TÝNA 2009 2014 5
VOJTA 2009 2014 5
ZOE 2010 2015 5
ADINA 2008 2014 6
AMÁLIE 2008 2014 6
AMELIE 2007 2013 6
AMY 2008 2014 6
ANABELA 2009 2015 6
ANNA-MARIE 1997 2003 6
ANNELIES 1937 1943 6
BRIGITTA 1939 1945 6
DAMIEN 2009 2015 6
ELA 2008 2014 6
ELEN 2008 2014 6
ELIANA 2008 2014 6
ISABEL 2008 2014 6
ISABELLA 2009 2015 6
IVANKA 1944 1950 6
JANEK 2009 2015 6
JEREMIÁŠ 2009 2015 6
JUSTÝNA 2008 2014 6
LAURA 2008 2014 6
LEONTÝNA 2008 2014 6
LUCAS 2008 2014 6
MATYAS 2008 2014 6
MATYÁŠ 2007 2013 6
MAX 2008 2014 6
MELISSA 2008 2014 6
NELLA 2008 2014 6
NICOL 2005 2011 6
ONDRA 2007 2013 6
PETRUŠKA 1946 1952 6
ROZÁRKA 2009 2015 6
SEBASTIEN 2008 2014 6
SOPHIA 2007 2013 6
SOPHIE 2007 2013 6
STELA 2009 2015 6
STELLA 2009 2015 6
VIKTORIE ANNA 2007 2013 6
WALTRAUD 1938 1944 6
DAMIÁN 2007 2014 7
DIEGO 2005 2012 7
EDELTRAUD 1936 1943 7
EDELTRUDA 1935 1942 7
EMA 2007 2014 7
EMMA 2008 2015 7
EVELÍNA 2007 2014 7
GERDA 1940 1947 7
JANETTA 1967 1974 7
LARA 2008 2015 7
LILIANA 2007 2014 7
LOLA 2008 2015 7
MATHIAS 2007 2014 7
MAXIM 2006 2013 7
MAYA 2007 2014 7
NATALI 2006 2013 7
OLIVER 2007 2014 7
SAMUEL 2006 2013 7
SEBASTIAN 2007 2014 7
SEBASTIÁN 2007 2014 7
VANESA 2006 2013 7
VANESSA 2005 2012 7
VICTORIE 2008 2015 7
VIVIEN 2007 2014 7
YVETA 1962 1969 7
ZBYHNĚV 1957 1964 7
ZOFIA 1948 1955 7
ABIGAIL 2007 2015 8
ANIKA 2005 2013 8
ANNA MARIE 2004 2012 8
BOHDANA 1969 1977 8

In [ ]:
# 25 nejčastějších jmen
table.sort_values(by="3000",ascending=False)["3000"].head(n=25)